@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #211f30;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b9ef3;
  border-radius: 5px;
  border: 2px solid #211f30;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5731c9;
}
.placeholder {
  display: inline-block;
  background-color: rgba(33, 31, 48, 1);
  background: linear-gradient(
    40deg,
    rgba(16, 10, 33, 1),
    rgba(16, 10, 33, .2),
    rgba(16, 10, 33, .4),
    rgba(16, 10, 33, 1)
  );
  background-size: 300% 100%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  animation: placeholder 6s ease infinite;
  border-radius: 6px;
}
@keyframes placeholder {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.card {
  padding: 20px;
  border-radius: 12px;
}
body.no-scroll {
  overflow: hidden;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.react-datepicker-wrapper .react-datepicker__close-icon {
  display: none;
}
.react-datepicker__header {
  background: #211f30;
  border: unset !important;
}
.react-datepicker__month-container {
  border-color: #100a21;
}
.react-datepicker {
  border-color: #100a21;
  background: #100a21;
  color: #fff;
}
.react-datepicker__day-name {
  color: #fff;
}
.react-datepicker__current-month {
  color: #fff;
}
.react-datepicker__day {
  color: rgb(156 163 175);
}
.react-datepicker__day--outside-month {
  opacity: 0.6;
}
.react-datepicker__day--selected {
  color: #fff;
  background-color: #4b9ef3;
}
.react-datepicker__triangle {
  fill: #100a21 !important;
  stroke: #100a21 !important;
  color: #100a21 !important;
}
